
$primary: #75D947;
$secondary: #1c9ec5;
$success: #4ef700;
$info: #16d4f1;
$warning: #ffb74b;
$danger: #ff4053;
$light: #f8f9fa;
$dark: #343a40;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// Importer le reste des variables par défaut
@import '../../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    height: 100vh;
}

.btn.btn-trash::before {
    content: '\e872';
    font-family: 'Material Icons';
    font-size: 20px;
    color: $danger;
}

#main-header .logo {
    width: 90px;
}

input[type="radio"], input[type="checkbox"] {
    display:none;
}

.nav-item:hover {
    background-color: $gray-200;
    transition: 0.3s;
}

.form-check {
    position: relative;
}

input + span.error::before {
    content: 'error_outline';
    font-family: 'Material Icons';
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
    text-align: center;
}

input + span.pending::before {
    content: 'more_horiz';
    font-family: 'Material Icons';
    font-size: 20px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
}

input + span.valid::before {
    content: 'check';
    font-family: 'Material Icons';
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
    text-align: center;
}

span.is-valid::before {
    content: 'check';
    font-family: 'Material Icons';
    padding: 5px;
    color: $success;
}

span.is-question::before {
    content: 'fiber_manual_record';
    font-family: 'Material Icons';
    padding: 5px;
    color: $gray-500;
}

span.is-error::before {
    content: 'clear';
    font-family: 'Material Icons';
    padding: 5px;
    color: $danger;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    padding-left: 55px;
}

input[type="radio"]:not(:checked) + label:hover::before,
input[type="checkbox"]:not(:checked) + label:hover::before {
    border: $gray-900 solid 2px;
    border-radius: 1em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 50px;
    height: 25px;
    position:absolute;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
    border: $gray-700 solid 2px;
    border-radius: 1em;
    display: block;
    top: 0;
    left: 0;
    content: '';
    width: 50px;
    height: 25px;
    position:absolute;
}

input[type="radio"]:checked + label:hover::before,
input[type="checkbox"]:checked + label:hover::before {
    border: darken($success, 10%) solid 2px;
    border-radius: 1em;
    display: block;
    top: 0;
    left: 0;
    content: '';
    width: 50px;
    height: 25px;
    position:absolute;
}

input[type="radio"]:checked + label::before,
input[type="checkbox"]:checked + label::before {
    border: $success solid 2px;
    border-radius: 1em;
    display: block;
    top: 0;
    left: 0;
    content: '';
    width: 50px;
    height: 25px;
    position:absolute;
}

input[type="radio"]:checked + label::after,
input[type="checkbox"]:checked + label::after {
    background-color: $success;
    border-radius: 1em;
    display: block;
    position:absolute;
    content: '';
    top: 3px;
    left: 27px;
    width: 19px;
    height: 19px;
    transition: 0.3s;
}

input[type="radio"]:not(:checked) + label:hover::after,
input[type="checkbox"]:not(:checked) + label:hover::after {
    background-color: $gray-900;
}

input[type="radio"]:not(:checked) + label::after,
input[type="checkbox"]:not(:checked) + label::after {
    background-color: $gray-700;
    content: '';
    border-radius: 1em;
    position:absolute;
    display: block;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    transition: 0.3s;
}

input[type="radio"]:checked + label:hover::after,
input[type="checkbox"]:checked + label:hover::after {
    background-color: darken($success, 10%);
}

.validate-btn::after {
    content: "done";
    font-family: 'Material Icons';
    font-size: 24px;
    margin-right: 5px;
    vertical-align: middle; 
}

.prev::before {
    content: "arrow_back";
    font-family: 'Material Icons';
    font-size: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

.next::after {
    content: "arrow_forward";
    font-family: 'Material Icons';
    font-size: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

.btn.reset::before {
    content: "cached";
    font-family: 'Material Icons';
    font-size: 24px;
    margin-left: 5px;
    vertical-align: middle; 
}

#suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

#flash-messages {
    position: fixed;
    top: 55px;
    left: 20px;
    z-index: 1050;
    width: fit-content;
}

#flash-messages .alert {
    background-color: $white;

}

.spin-hover:hover svg {
    animation: spin 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@each $color, $value in $theme-colors {
    #flash-messages .alert-#{$color} {
        border-left: 6px solid $value;
        border-right: #ddd solid 1px;
        border-top: #ddd solid 1px;
        border-bottom: #ddd solid 1px;
        color: $value;
    }
}

